
<div class="col">
  <div class="col my-3" *ngFor="let shop of shops">

    <div class="media d-flex">

      <img src="assets/img/shop.svg" class="align-self-start mx-3 mt-3" style="min-width: 64px" alt="shop">
      <div class="media-body mx-3 mt-1">
        <h5 class="mt-0">{{shop.name}}</h5>
        <p>{{shop.description}}</p>
        <p>Owner: {{shop.owner}}</p>
      </div>
      <div class="col d-flex align-items-end flex-column">
        <div class="row mt-auto">
          <div class="col">
            <button class="btn btn-light" (click)="enterShopAsCustomer(shop)">Enter</button>
            <button class="btn btn-light d-inline-block" (click)="enterShopAsOwner(shop)">
              <img src="assets/img/key.svg">
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
