.media {
  background: #212529;
  color: white;
  border-radius: 10px;
}

.shop-edit {
  height: 100%;
}

.element-list {
  background: rgba(33, 37, 41, 0.5);
  border-radius: 10px;
  color: white;
}
