<div class="text-center" style="display: flex; align-items: center">

  <div class="card">
    <a routerLink="/shop">
      <img alt="shop"
           src="/assets/img/shop.svg"
           class="card-img-top"
           style="min-width: 8rem; background: #212529"
      ></a>
  </div>

  <div class="card">
    <a routerLink="/customer">
      <img src="/assets/img/people.svg"
           alt="customer"
           class="rounded "
           style="min-width: 8rem; background: #212529"></a>
  </div>

</div>
