<div class="col m-5">

  <div class="card text-white bg-dark mb-3">
    <div class="card-header h3">Welcome to Shoppiez</div>
    <div class="card-body">
      <p class="card-text">To get started either pick the shop-owner entrance or the customer entrance below!</p>
    </div>
  </div>

  <div class="text-center m-5">

    <div class="card" style="display: inline-block">
      <a routerLink="/shop/login">
        <img alt="shop"
             src="/assets/img/shop.svg"
             class="rounded"
        ></a>
      <div class="card-footer">
        <small>Shop-Owner</small>
      </div>
    </div>

    <div class="card" style="display: inline-block">
      <a routerLink="/shop">
        <img src="/assets/img/people.svg"
             alt="customer"
             class="rounded"></a>

      <div class="card-footer">
        <small>Customer</small>
      </div>
    </div>
  </div>


</div>
